body{
    background-color: #be2525;
}
div{
    background-color: rgb(230, 217, 200);
    width:fit-content;
    
}
div:hover{
    background-color: transparent;
}
span{
    color: #5c2858;
    font-size: 30px;
}